body {
	max-width: 980px;
	margin: auto;
}
a {
	text-decoration: none;
}
header .head {
	background: url("../img/bagground_run.png") no-repeat center / cover rgba(36, 31, 31);background-blend-mode: color-dodge;
	background-color: #080B0A;
	background-size: cover;
	background-position: center;
	max-width: 980px;
	min-width: 360px;
	min-height: 700px;
	display: grid;
	place-items: center;
}
img {
	max-width: 980px;
	}
.logo_oll {
	max-width: 200px;
}

.logo_word {
	font-size: 250%;
	text-align: center;
	float: left;
	color: white;
}
.color_z {
	font-size: 150%;
	text-align: center;
	color: #5fe3cb;
}
.line_menu {
	display: flex;
	padding-left: 0%;
	margin-top: -10%;
	width: 90%;
	min-height: 100px;
}

#menu {
	margin-left:3%;
	display: flex;
	font: inherit;
}
.menu_oll_block {
	padding-top:6%;
}
#menu a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 3px;
}
#menu a:hover {
	color: #7FFF00;
}
.socium {
	padding-top:4.5%;
}
.burger_menu {
	padding: 10px 15px;
	color: white;
	display: none;
	cursor: pointer;
}
#blockburgmenu {
	display: none;
	margin-left: -30%;
	margin-top: 30px;
	padding: 0;
	font-size: 20px;
	color: white;	
}
#blockburgmenu a {
	text-decoration: none;
	color: white;

}
#blockburgmenu a:hover {
	color: #07674A;
	background-color: white;
}

@media screen and (max-width: 560px) {
	#menu {
		display: none;
		margin-left: 20%;
		padding: 0;
		font-size: 20px;
	}


	.line_menu {
		float: none;
		margin: 0 auto;	
}
	.burger_menu {
		display: inline-block;
		height: 20px;
		margin-left: 40%;
		margin-top: -10px;
		font-size: 40px;
	}
	
}

#time {
	color:#FFFFFF; 
	font-size:18pt; 
	background:none;
	opacity: 0.8;
	margin-top: -10px;
	position: fixed;
}

.text_header {
	width: 80%;
	text-align: center;
	color: #FFFFFF;
	font-size: 350%;
}
.text_header_white_text {
	margin-top: 1px;
	margin-bottom: 3%;
}
.text_header_colortext {
	color: #5fe3cb;
}
.text_header_club {
	font-size: 40%;
	margin-top: 2%;
}
#button_add {
	text-decoration:none; 
	text-align:center; 
 	padding:11px 32px; 
 	border:none; 
 	-webkit-border-radius:25px;
 	-moz-border-radius:25px; 
 	border-radius: 25px; 
 	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 	font-weight:bold; 
 	color:#ffffff; 
 	background:#0fcfac; 
 	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
#button_add:hover {
 	padding:11px 32px; 
 	border:none; 
 	-webkit-border-radius:25px;
 	-moz-border-radius:25px; 
 	border-radius: 25px; 
 	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#ffffff; 
	background-color:#5fe3cb; 
	background-image: -moz-linear-gradient(top, #5fe3cb 0%, #54d9c1 100%); 
	background-image: -webkit-linear-gradient(top, #5fe3cb 0%, #54d9c1 100%); 
	background-image: -o-linear-gradient(top, #5fe3cb 0%, #54d9c1 100%); 
	background-image: -ms-linear-gradient(top, #5fe3cb 0% ,#54d9c1 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54d9c1', endColorstr='#54d9c1',GradientType=0 ); 
	background-image: linear-gradient(top, #5fe3cb 0% ,#54d9c1 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#button_add:active {
	padding:11px 32px; 
	border:none; 
	-webkit-border-radius:25px;
	-moz-border-radius:25px; 
	border-radius: 25px; 
	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#ffffff; 
	background-color:#0fc5cf; 
	background-image: -moz-linear-gradient(top, #0fc5cf 0%, #0fcfc2 100%); 
	background-image: -webkit-linear-gradient(top, #0fc5cf 0%, #0fcfc2 100%); 
	background-image: -o-linear-gradient(top, #0fc5cf 0%, #0fcfc2 100%); 
	background-image: -ms-linear-gradient(top, #0fc5cf 0% ,#0fcfc2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fcfc2', endColorstr='#0fcfc2',GradientType=0 ); 
	background-image: linear-gradient(top, #0fc5cf 0% ,#0fcfc2 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
#button_event {
	text-decoration:none; 
	text-align:center; 
 	padding:11px 32px; 
 	border:none; 
 	-webkit-border-radius:25px;
 	-moz-border-radius:25px; 
 	border-radius: 25px; 
 	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 	font-weight:bold; 
 	color:#ffffff; 
 	background: transparent; 
 	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
#button_event:hover {
 	padding:11px 32px; 
 	border:none; 
 	-webkit-border-radius:25px;
 	-moz-border-radius:25px; 
 	border-radius: 25px; 
 	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#ffffff; 
	background-color:#5fe3cb; 
	background-image: -moz-linear-gradient(top, #5fe3cb 0%, #54d9c1 100%); 
	background-image: -webkit-linear-gradient(top, #5fe3cb 0%, #54d9c1 100%); 
	background-image: -o-linear-gradient(top, #5fe3cb 0%, #54d9c1 100%); 
	background-image: -ms-linear-gradient(top, #5fe3cb 0% ,#54d9c1 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54d9c1', endColorstr='#54d9c1',GradientType=0 ); 
	background-image: linear-gradient(top, #5fe3cb 0% ,#54d9c1 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#button_event:active {
	padding:11px 32px; 
	border:none; 
	-webkit-border-radius:25px;
	-moz-border-radius:25px; 
	border-radius: 25px; 
	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#ffffff; 
	background-color:#0fc5cf; 
	background-image: -moz-linear-gradient(top, #0fc5cf 0%, #0fcfc2 100%); 
	background-image: -webkit-linear-gradient(top, #0fc5cf 0%, #0fcfc2 100%); 
	background-image: -o-linear-gradient(top, #0fc5cf 0%, #0fcfc2 100%); 
	background-image: -ms-linear-gradient(top, #0fc5cf 0% ,#0fcfc2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fcfc2', endColorstr='#0fcfc2',GradientType=0 ); 
	background-image: linear-gradient(top, #0fc5cf 0% ,#0fcfc2 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.about_us {
	display: flex;
	margin-top: 70px;
}
.about_us_img {
	width: 50%;

}
#about {
	font-size: 200%;
	font-family: Marker Felt, fantasy;
}
.about_us_text {
	margin-left: 5%;

}
@media screen and (max-width: 560px) {
	.about_us {
	display: block;
	margin-top: 70px;
	}
	.about_us_img {
	width: 90%;
	}
img {
	max-width: 340px;
	}
}


p {
	font-family:Trebuchet MS, sans-serif;
}
h2 {
	font-size: 200%;
	font-family: Marker Felt, fantasy;
	text-align: center;	
}

.ourprograms {
	background-color: #EAEAEA;
	background-size: cover;
	background-position: center;
	padding-top: 50px;
	max-width: 980px;
}

/* Сам слайдер */
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
    margin-bottom: 15px;
}
/* Картинка маштабується по відношенню до батьківського элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед і назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведенні на кнопки добавляемо фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайду */
.slideText {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 35px;
    /* Вирівнювання тексту по горизонталі і по вертикалі*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тінь*/
    text-shadow: 3px 3px 3px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анімація слайдів */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/*Завершення каруселі*/
/*Стилі для пункту наші програми*/
.programs_text {
	margin-left: 7%;
	margin-right: 7%;
}

.container_jule {
	max-width: 980px;
	display: flex;

}
.container_august {
	max-width: 980px;
	display: flex;

}
.events_in_date1 {
	max-width: 480px;
	max-height: 500px;
	display: flex;
	margin: 0% 1% 1% 0%;
}
.event_img1 {
	width: 50%;
	object-fit: cover;
}
.events_in_date_text {
	background-color: #554E4E;
	width: 50%;
	padding: 5%;
}
.text_event_date {
	color: #D7CACA;
	font-size: 1.2em;
}
.text_event_year {
	font-size: 2.5em;
	color: white;
}
.text_events_color {
	color: #5fe3cb;
}
a {
	text-decoration: none;
	color: white;
}
@media screen and (max-width: 800px) {

.container_jule {
	max-width: 100%;
	display: block;
	
}
.container_august {
	max-width: 100%;
	display: block;
	margin-top: 4%;
	
}
.events_in_date1 {
	max-width: 100%;
	max-height: 500px;
	display: flex;

}
}
@media screen and (max-width: 360px) {
.container_jule {
	width: 100%;
	display: block;
	
}
.container_august {
	width: 100%;
	display: block;

	
}
.events_in_date1 {
	max-width: 360px;
	margin: 0px;
	display: block;
	max-height: 1000px;
}
.event_img1 {
	width: 100%;
	object-fit: cover;
}
.events_in_date_text {
	background-color: #554E4E;
	width: 100%;
	padding: 15%;
}


	}